<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
    <p>Gerbiamas (-a) tyrimo dalyvi (-e),</p>
    <p>
        Dėkojame, kad dalyvaujate Mokytojų palaikymo ratų atliekame longitudiniame (ilgalaikiame) tyrime „Pedagogų psichologinės gerovės ir perdegimo sindromo pokyčiai mokslo metų eigoje“.
    </p>
    <p>
        Prašome Jūsų užpildyti klausimyną bei nurodyti el. paštą. Klausimyno pabaigoje paspaudę Pateikti, gausite Jūsų šio ir 2024 rudens atsakymus.
    </p>
    <p>
        Jeigu kiltų papildomų klausimų, maloniai prašome susisiekti su tyrimą atliekančia psichologe Diana Radzevičiūte, info@mokytojuratai.com, +370-698-88945.
        Mums labai svarbu žinoti, kaip Jūs jaučiatės.
        Iš anksto dėkojame už atvirumą, pagalbą ir bendradarbiavimą.
    </p>
    <form action="{{ url_for('start') }}" method="post">
        <button type="submit">Pradėti apklausą</button>
    </form>
{% endblock %}
