{% extends "base.html" %}
{% block content %}
    <h2>Ačiū už Jūsų atsakymus!</h2>
    <p>Jūsų atsakymai buvo užregistruoti. Dėkojame už dalyvavimą tyrime.</p>
    {% if show_form %}
        <form method="post" onsubmit="showLoading();">
            <p>Jeigu norėtumėte matyti savo asmeninius rezultatus, įrašykite el. paštą. Jeigu ne, galite uždaryti naršyklės langą.</p>
            <input type="email" name="email" required placeholder="el.pastas@pavyzdys.lt">
            <br>
            <button type="submit">Pateikti</button>
        </form>
        <!-- Loading Overlay -->
        <div id="loading-overlay" class="loading-overlay">
            <div class="loading-content">
                <p>Rezultatas skaičiuojamas...</p>
            </div>
        </div>
        <style>
            /* Loading overlay styles */
            .loading-overlay {
                display: none; /* Hide by default */
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.8);
                z-index: 9999; /* Make sure it covers all content */
                justify-content: center;
                align-items: center;
            }
            .loading-content {
                background-color: #50b3a2;
                padding: 20px;
                border-radius: 10px;
                text-align: center;
                color: white;
                font-size: 1.5em;
            }
        </style>
        <script>
            // Function to show the loading overlay
            function showLoading() {
                document.getElementById('loading-overlay').style.display = 'flex';
            }
        </script>
    {% else %}
        <p>Jūsų atsakymai buvo užregistruoti. Dėkojame už dalyvavimą tyrime.</p>
    {% endif %}
{% endblock %}
